---
layout: default
---
{% assign index = true %}
{% include structured_data/index.html %}

<div itemscope itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
{% assign content = post.content %}
    <article class="articles" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="column is-8 is-offset-2">
                {% include article.html %}
        </div>
    </article>
{% endfor %}
</div>

<div class="column is-8 is-offset-2">
    <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" title="Previous Page" {% if paginator.previous_page %} href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" {% else %}disabled{% endif %}>Previous page</a>
        <a class="pagination-next" title="Next Page" {% if paginator.next_page %} href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"{% else %}disabled{% endif %}>Next page</a>
    </nav>
</div>