{{/* 
	GetFeaturedImage
	Returns the image Resource if found in page bundle, or string URL if external/static.
*/}}
{{ $imageResource := "" }}
{{ $matches := "feature,cover" }}

{{ with .Params.featured_image }}
  {{/* If specific file named in frontmatter */}}
  {{ with $.Resources.GetMatch . }}
    {{ $imageResource = . }}
  {{ else }}
     {{/* Fallback to static string if not found in bundle */}}
    {{ $imageResource = (trim . "/" | absURL) }}
  {{ end }}
{{ else }}
  {{/* Search for cover/feature in bundle */}}
  {{ with .Resources.ByType "image" }}
    {{ with .GetMatch (printf "**{%s}*" $matches) }}
      {{ $imageResource = . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $imageResource }}