<nav class="navbar is-fixed-top is-link" role="navigation" aria-label="Main Navigation">
  <div class="navbar-brand">
    <a class="navbar-item brand-text has-text-weight-bold" aria-label="Lee Madajczyk" href="/">Lee Madajczyk</a>
    <a class="navbar-burger" aria-label="Menu" aria-expanded="false" aria-controls="navbar-end"
      onclick="document.querySelector('.navbar-menu').classList.toggle('is-active'); document.querySelector('.navbar-burger').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span> 
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/archive" aria-label="Archive">Archive</a>
      <a class="navbar-item" href="/about" aria-label="About">About</a>
    </div>
  </div>
</nav>
