<nav class="navbar is-fixed-top is-info mb-10" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item brand-text has-text-weight-bold" aria-label="Lee Madajczyk" href="/">Lee Madajczyk</a>
        <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active'); document.querySelector('.navbar-burger').classList.toggle('is-active');">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/archive" aria-label="Archive">Archive</a>
            <a class="navbar-item" href="/about" aria-label="About">About</a>
        </div>
    </div>
</nav>
