<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": {{ .Title }},
      "image": {{ .Params.featuredImage | absURL }},
      "datePublished": {{ .PublishDate }},
      "dateModified": {{ .Lastmod }},
      "author": {
        "@type": "Person",
        "name": {{ .Site.Params.author }}
      },
      "mainEntityOfPage": { "@type": "WebPage" },
       "publisher": {
        "@type": "Organization",
        "name": {{ .Site.Params.author }},
        "logo": {
          "@type": "ImageObject",
          "url": {{ .Site.Params.logo }}
        },
        "description": {{ .Summary | plainify | safeHTML }},
      },
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": {{ .Site.Params.author }},
        "url": {{ .Site.BaseURL }},
        "sameAs": [
          "https://twitter.com/{{ .Site.Params.twitter }}",
          "https://github.com/{{ .Site.Params.github }}"
        ]
      }
    }
</script>
