{% if index %}
	<h1 class="title" itemprop="headline name"><a href="{{ post.url }}" itemprop="url mainEntityOfPage">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
{% else %}
	{% capture pageurl %}{{ page.url }}{% endcapture %}
  {% capture pagetitle %}{{ page.title  }}{% endcapture %}

	<h1 class="title" itemprop="headline name">{{ pagetitle }}</h1>
	<hr />
	{% include structured_data/article.html %}
{% endif %}
	<div class="content article-body" itemprop="articleBody">{{ content }}</div>