{% if index %}
	<h1 class="title" itemprop="headline name"><a href="{{ post.url }}" itemprop="url mainEntityOfPage">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
{% else %}
	{% capture pageurl %}{{ page.url }}{% endcapture %}
  {% capture pagetitle %}{{ page.title  }}{% endcapture %}

  <h1 class="title" itemprop="headline name"><a href="{{ pageurl }}">{{ pagetitle }}</a></h1>
	{% include structured_data/article.html %}
{% endif %}
	{% include post/meta.html %}
	<div class="entry-content" itemprop="articleBody">{{ content }}</div>
