<footer class="footer" style="padding: 2rem 1rem 1.5rem; margin-top: 1.5rem">
  <div class="content has-text-centered">
    <p>
      <svg class="icon" style="fill: #000000; padding-right: 5px; padding-top: 10px"><use xlink:href="#icon-creative-commons"></use></svg><span class="name"><a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></svg>
      - 
      <svg class="icon" style="fill: #000000; padding-right: 5px; padding-top: 10px"><use xlink:href="#icon-id-card-o"></use></svg><span class="name"><a href="/">Lee Madajczyk</a></svg>
    </p>
  </div>
</footer>