<section style="display: none;" class="h-card vcard">
    <ul>
        <li class="p-name fn">
            <span class="p-given-name given-name">Lee</span> <span class="p-family-name family-name">Madajczyk</span>
        </li>
        <li class="p-nickname nickname">
            madajczyk
        </li>
        <li>
           <a href="/key/madajczyk-9FB743F3B8C569F9.pgp.pubkey" class="u-key key">PGP, OpenPGP, GPG: 9FB7 43F3 B8C5 69F9</a>
        </li>
        <li class="p-job-title title">
            Freelance, Contractor, Consultant (International)
        </li>
        <li class="p-role role">
            Information Technology Engineer (Development, Operations, Cloud)
        </li>
        <li>
            <ul class="p-org org">
                <li>
                    <a class="p-name u-url p-organization-name organization-name" href="https://www.madajczyk.com/">www.madajczyk.com</a>
                </li>
                 <li>
                    <img data-src="/icons/web_app_192-192x192.png" alt="www.madajczyk.com" class="lazy u-logo logo" width="192" height="192" />
                 </li>
            </ul>
        </li>
        <li>
            <a class="u-email email" href="mailto:lee@madajczyk.com">lee@madajczyk.com</a>
        </li>
        <li>
            <a class="u-url url" href="https://www.madajczyk.com/">www.madajczyk.com</a>
        </li>
         <li>
            <address class="p-adr h-adr adr">
                <span class="p-locality locality">Green Bay</span>, <span class="p-region region">WI</span> <span class="p-country-name country-name">United States</span>
            </address>
        </li>
        <li>
            <img data-src="/icons/madajczyk-512.jpg" alt="Lee Madajczyk" title="Lee Madajczyk" class="lazy u-photo photo" width="512" height="512" />
        </li>
    </ul>
</section>
