<script type="application/ld+json">
   {
      "@context":"http://schema.org",
      "@type":"BlogPosting",
      "headline":"{{ pagetitle }}",
      "url":"{{ site.url }}{{ pageurl }}",
      "datePublished":"{{ date | | date: '%Y-%m-%d' }}",
      "author":{
       "@type": "Person",
       "name": "Lee Madajczyk",
       "sameAs": [
          "https://twitter.com/lmadajczyk",
          "https://github.com/madajczyk"
        ],
        "url": "{{ site.url }}"
      },
      "publisher":{
       "@type": "Organization",
       "name": "Lee Madajczyk",
       "logo": {
            "@type": "ImageObject",				  
            "url": "{{ site.url }}/icons/madajczyk-512.jpg",
            "width":"512",
            "height":"512"
         },
      "url": "{{ site.url }}"
      },
      "mainEntityOfPage":{
        "@type":"WebPage",
        "@id":"{{ site.url }}{{ include.link }}"
      },
      "articleBody":{{ page.content | strip_html | jsonify | normalize_whitepace | strip_newlines | strip }}
   }
   </script>
