<script type="application/ld+json">{
 "@context": "http://schema.org",
 "@type": "WebSite",
 "keywords": "software,engineering,agile,DevOps,refactoring,c#,ruby,javascript,dotnet",
 "url": "{{ site.url }}",
 "sameAs": [ "https://twitter.com/lmadajczyk",
             "https://github.com/madajczyk" ],
 "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}"
  },
 "author": {
    "@type": "Person",
    "name": "Lee Madajczyk",
    "sameAs": [ "https://twitter.com/lmadajczyk",
                "https://github.com/madajczyk" ]
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ site.url }}/search?query={search_term}",
    "query-input": "required name=search_term"
  }
 }
</script>
