<script type="application/ld+json">
{ "@context": "http://schema.org",
 "@type": "Blog",
 "keywords": "software engineering agile refactoring c# ruby javascript",
 "url": "https://www.madajczyk.com/",
 "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://www.madajczyk.com/"
  },
 "author": {
    "@type": "Person",
    "name": "Lee Madajczyk",
    "sameAs": [
        "https://twitter.com/lmadajczyk",
        "https://github.com/madajczyk",
        "https://plus.google.com/+LeeMadajczyk"
    ]
  }
 }
</script>
