{{ define "main" -}}
<main>
    <div class="mt-4">
        <article id="content">
            <div class="column is-8 is-offset-2">
                <p class="title is-1" itemprop="headline name">{{ .Title | title }}</p>
                {{.Content}}
            <div class="content mt-6">
                <div class="archives" itemscope itemtype="http://schema.org/Blog">
                    {{ .Scratch.Set "currentYear" "2088" -}}
                    {{ range .Pages }}
                        {{ if ne ($.Scratch.Get "currentYear") (.Date.Format "2006") -}}                        
                    <p class="title is-2">{{ .Date.Format "2006" }}</p>
                            {{ $.Scratch.Set "currentYear" ( .Date.Format "2006") -}}
                        {{ end -}}
                    
                        <p class="title is-3 ml-5"><a href="{{.Permalink}}">{{.Title}}</a></p>
                        <p class="subtitle is-4 ml-5">{{ .Date.Format "2006-01-02" }}</p>
                        {{ if ne .Description "" -}}
                        <p class="ml-5">{{ .Description }}</p>
                        {{ end -}}
                        {{- if .Params.tags -}} 
                        {{- range $key, $tag := .Params.tags }} 
                            <a href="/tags/{{ $tag | urlize }}" aria-label="{{ $tag }}" class="is-info ml-5"><span class="tag is-success is-light">{{ $tag }}</span></a>
                        {{- end -}}
                        {{- end -}}
                    <hr />
                    {{ end -}}
                </div>
            </div>
        </article>
    </div>
</main>
{{ end -}}
