{{ define "main" }}
<section id="main">
    <div>
          <article id="content">
            <div class="column is-8 is-offset-2">
              <h1 class="title p-name" itemprop="headline name">{{ .Title }}</h1>
              <hr />
              <div class="content" itemprop="articleBody">
                <div id="search-searchbar"></div>
                <div id="search-hits"></div>
              </div>
            </div>
          </article>
    </div>
</section>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: '{{ .Site.Params.algolia.appid }}',
    apiKey: '{{ .Site.Params.algolia.apikey }}',
    siteId: '{{ .Site.Params.algolia.siteid }}',
    branch: 'main',
    selector: 'div#search-searchbar',
  });
</script>


{{ end }}
