{{ define "main" -}}
{{ $featured_image := partial "func/GetFeaturedImage.html" . -}}
<section id="main">
  <div>
        <article id="content">
          <div class="column is-8 is-offset-2">
            <p class="title is-1" itemprop="headline name">{{ .Title | title }}</p>
            {{ $showSubtitle := .Params.subtitle | default "true" -}}
            {{ if $showSubtitle -}}
            <p class="subtitle mb-3">
              <time datetime="{{ .Date.UTC }}" itemprop="datePublished">{{ .Date.Format "January 2, 2006" }}</time>
              <span class="dt-published is-hidden">{{ .Date }}</span>
              &middot; {{ .ReadingTime }} min read
            </p>
            {{- if .Params.tags -}} 
            <p class="mb-3">
              {{- range $key, $tag := .Params.tags }} 
                <a href="/tags/{{ $tag | urlize }}" aria-label="{{ $tag }}" class="is-info"><span class="tag is-success is-light">{{ $tag }}</span></a>
              {{- end -}}
            {{- else -}}
            <hr />
            {{- end -}}
            {{ end -}}
            {{ if $featured_image -}}
            <div class="has-text-centered pb-4">
              <figure class="image is-fullwidth">
                {{ if (reflect.IsResource $featured_image) }}
                {{ $optimized := $featured_image.Resize "1200x webp" }}
                <img src="{{ $optimized.RelPermalink }}" alt="Image from {{ .Title }}">
                {{ else }}
                <img src="{{ $featured_image }}" alt="Image from {{ .Title }}">
                {{ end }}
              </figure>
              {{ with .Params.imagecredit }}
              <div class="content is-small is-italic has-text-right">
                Image Credit: {{ .  }}
              </div>
              {{ end }}
            </div>

            {{ end }}
            <div class="content" itemprop="articleBody">
              {{ $showOldSiteNotice := .Params.oldsitenotice | default "" -}}
              {{ if ne $showOldSiteNotice "" -}}
              <div class="notification is-success is-light">
                Note: This article was originally posted via {{ $showOldSiteNotice }} on a domain name I no longer own.
                I've consolidated all of my earlier ramblings and digressions here.
              </div>
              {{ end -}}              
              {{ $showUpdate := .Params.update | default "" -}}
              {{ if ne $showUpdate "" -}}
              <div class="notification is-info is-light">
                {{ .Params.update }}
              </div>
              {{ end -}}              
              {{ .Content }}
            </div>
          </div>
        </article>
  </div>
</section>
{{ end }}