{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article>
  <div>
    <div class="">
      {{ if $featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        <div class="card-image has-text-centered">
          <a href="{{.RelPermalink}}">
            <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      <div>
        <h2>
          <a href="{{.RelPermalink}}">
            {{ .Title }}
            </a>
        </h1>
        <div>
          {{ .Summary }}.. <i><a href="{{.RelPermalink}}">read more</a></i>
        </div>
      </div>
    </div>
  </div>
</article>
