{{ define "main"}}
<section>
    <article>
        <div class="column is-8 is-offset-2 has-text-centered mt-6">
            <h1 class="title is-1">404</h1>
            <h2 class="subtitle is-3">Page Not Found</h2>
            <hr />
            <div class="content">
                <p class="is-size-5">
                    One of two things happened. Either you can't bloody well type, or I can't bloody well code. 
                    (My money is on you, butterfingers.)
                </p>
                <p>
                    Unfortunately for you, there's nothing to see here.
                </p>
                <p>
                    Use one of the above links to get somewhere else. Or, I can spoon feed you
                     <a href="/">this one</a>, I suppose...
                </p>
            </div>
        </div>
    </article>
</section>
{{ end }}
